body {
  background: lightsteelblue;
}
.App {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#container {
  display: grid;
  justify-items: center
}
.profile {
  margin: 10%;
  display: grid;
  justify-content: center;
  align-content: center;
  background: "#f4f4f4";
}
.select-party {
  margin: 5%;  
}
.friends {
  margin-bottom: 40px; 
  display: grid;
  align-content: center; 
  justify-content: center; 
  /* grid-template-columns: repeat(); */
}
.friend {
  padding: 5%;
  background: lightpink;
  border: 3px groove;
  border-radius: 6px; 
  align-items: center;
  justify-items: center;
  font-family: 'Roboto Mono', monospace;
}
label {
  width: 40vw;
  background: plum;
  border: solid 0.5px palevioletred;
  border-radius: 30px 
}
.avatar {
  margin: 2%;
  cursor: pointer;
  width: 17vw;
  height: 17vw;
  border: solid lightskyblue;
  border-radius: 50%;
  border-width: 3px;
}
.havoda {
  cursor: pointer;
  background: url('../src/imges/havoda.png')  no-repeat center;
  background-size: 90%;
  background-color:white;
}
.biteno {
  background: url('../src/imges/biteno.png')  no-repeat center;
  background-size: contain;
  background-color:#050577ec;
}
.kholavan {
  background: url('../src/imges/kholavan.png') center;
  background-size: 90%;  
}
.licud {
  background: url('../src/imges/licud.png') no-repeat center;
  background-size: 90%;
  background-color:white;  
}
.sach {
  background: url('./imges/sach.png') no-repeat center;
  background-size: 70%;  
  background-color:white;
}
#signup-container {
  margin-top: 10% 
}
.logo-signup {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  
}
.offsets-parties {
  margin-bottom: 10%
}